<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb6 tc">

			<!--img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0"-->
			<p class="f3 lh-title light-gray b mb2">Join APSCRN for Free</p>
			<p>Be a part of APSCRN and help us improve paediatric ultrasound standards in Australian and New Zealand.</p>

			<a class="btn mb3 w-100 w-auto-ns mb0-ns raise" href="{{.Site.Params.slack}}" target="_blank">Join APSCRN</a>

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">{{ .Title }}</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<!--li><a href="/products" class="link">About</a></li>
          <li><a href="/values" class="link">News</a></li>
          <li><a href="/post" class="link">FAQs</a></li>
          <li><a href="/contact" class="link">Contact</a></li-->
          <li><a href="#" class="link">About</a></li>
					<li><a href="#" class="link">News</a></li>
					<li><a href="#" class="link">FAQs</a></li>
					<li><a href="#" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li>Want to know more about APSCRN? </li>
					<li><a href="/contact" class="link">Email @apscrn.org</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Follow Us</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/APSCRN" "svg" "twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
