<nav class="dt w-100 mw8 center bg-black">
  <div class="dtc w2 v-mid pa3">
    <a href="/" class="f4 fw6 pa1 hover-white no-underline white-90 grow-large">
      {{ .Site.Params.Name }}
    </a>
  </div>
  <div class="dtc v-mid tr pa3 ttu">
    <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/about" >About</a>
    <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/news" >News</a>
    <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/faqs" >FAQs</a>
    <a class="f6 fw4 hover-white no-underline white-70 dn dib-l pv2 ph3" href="/contact" >Contact</a>
    <!--a class="f6 fw4 hover-white no-underline white-70 dn dib-l pv2 ph3" href="/" >Careers</a>
    <a class="f6 fw4 hover-white no-underline white-70 dib ml2 pv2 ph3 ba" href="/" >Sign Up</a-->
  </div>
</nav>