{{ partial "head" . }}

{{ partial "hero" . }}

{{ partial "text-image" (dict "heading" "What is the APSCRN?" "text" "While we might work separately and in different clinical environments, much of what we do in children's ultrasound is in common. This is a network through which paediatric sonographers can share ideas, explore potential collaborations, and promote research. Our aim is to improve the profile of paediatric sonographers and the standard of paediatric ultrasound in the region." "buttonText" "Read more" "buttonLink" "#" "img" "img/baby-blue-eyes-o.jpg") }}

{{ partial "text-image-reverse" (dict "heading" "Who are we?" "img" "img/sparkle-child-2-o.jpg" "text" "Whilst it's very early days, ideally the core of our network will include at least one sonographer from the major children's hospitals around Australia and New Zealand. Other sonographers that have an interest in paediatrics are also welcome to contribute." "buttonText" "Read more" "buttonLink" "#") }}

{{ partial "footer" . }}
